.heading-label {
    -fx-font-size: 64pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.heading-label-app {
	-fx-font-size: 24pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.workspace-buttons {
	-fx-font-size: 24pt;
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: black;
	-fx-opacity: 1;
	-fx-border-color: black;
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
	-fx-background-color: white;
}

.workspace-buttons:pressed {
	-fx-background-color: #CDCDCD;
}

#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

#score-box {
	-fx-border-style: hidden hidden hidden solid;
	-fx-padding: 0 0 0 20;
}